[submodule ".registry"]
	path = .registry
	url = https://github.com/joelnitta/joelnitta.r-universe.dev
	branch = HEAD
[submodule "ftolr"]
	path = ftolr
	url = https://github.com/fernphy/ftolr
[submodule "roxyglobals"]
	path = roxyglobals
	url = https://github.com/anthonynorth/roxyglobals
	registered = false
[submodule "taxastand"]
	path = taxastand
	url = https://github.com/joelnitta/taxastand
